
$colorbg: #6c757d;
$color2bg: rgb(235, 231, 240);
$color3bg: rgb(54, 51, 51);
$color-background1:rgb(135, 182, 135);
$color-background2:rgb(209, 216, 141);
$color-background3:rgb(124, 124, 158);
$font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$box-shadow: 0 0 5px 1px white; 
$size: 15px;
$type: horarios;


$value: 1px;
$unit: 6px;